h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: lightsteelblue;
}
#heading{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}